<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.vicolo.chrono" android:installLocation="internalOnly">
  <uses-permission
    android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission
    android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
  <uses-permission
    android:name="android.permission.USE_FULL_SCREEN_INTENT" />
  <!-- <uses-permission -->
  <!--   android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
  <uses-permission
    android:name="android.permission.VIBRATE" />
  <!-- <uses-permission -->
  <!--   android:name="android.permission.INTERNET" /> -->
  <uses-permission
    android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
  <!-- For Android 12 and higher -->
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"
    android:maxSdkVersion="32" />
  <!-- For before Android 12 -->
  <uses-permission
    android:name="android.permission.USE_EXACT_ALARM" />

  <application
    android:label="Chrono"
    tools:replace="android:label"
    android:name="${applicationName}"
    android:icon="@mipmap/ic_launcher">
    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:theme="@style/LaunchTheme"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
      android:hardwareAccelerated="true"
      android:windowSoftInputMode="adjustResize"
      android:directBootAware="true"
      >
      <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
      <meta-data
        android:name="io.flutter.embedding.android.NormalTheme"
        android:resource="@style/NormalTheme"
      />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.QUICK_CLOCK"/>
        <action android:name="android.intent.action.SHOW_ALARMS" />
        <action android:name="android.intent.action.SHOW_TIMERS" />
        <action android:name="android.intent.action.SET_ALARM" />
        <action android:name="android.intent.action.SET_TIMER" />
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <!-- Don't delete the meta-data below.
      This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
    <meta-data
      android:name="flutterEmbedding"
      android:value="2" />
    <service
      android:name="dev.fluttercommunity.plus.androidalarmmanager.AlarmService"
      android:permission="android.permission.BIND_JOB_SERVICE"
      android:exported="false" 
      android:directBootAware="true"
    />
    <receiver
      android:name="dev.fluttercommunity.plus.androidalarmmanager.AlarmBroadcastReceiver"
      android:exported="false" 
      android:directBootAware="true"
    />
    <receiver
      android:name="dev.fluttercommunity.plus.androidalarmmanager.RebootBroadcastReceiver"
      android:enabled="false"
      android:exported="true"
      android:directBootAware="true"
      >
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>
    <service
      android:name="com.flux.flutter_boot_receiver.BootHandlerService"
      android:exported="false"
      android:permission="android.permission.BIND_JOB_SERVICE" 
      android:directBootAware="true"
      />
    <receiver
      android:enabled="true"
      android:exported="true"
      android:name="com.flux.flutter_boot_receiver.BootBroadcastReceiver"
      android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
      android:directBootAware="true"
      >
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
